[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynput = "*"
rpi = "*"
opencv-python = "*"
matplotlib = "*"
scikit-learn = "*"
moviepy = "*"

[dev-packages]

[requires]
python_version = "3.8"
